{% extends 'base.jinja2' %}

{% block content %}

<h1 class="billet-title">L’Offre {{ billet.nom }}</h1>
<div class="billet-container">
    <p class="billet-description">{{ billet.description}}</p>
    <p class="billet-price">Ce billet coûte <strong>{{ billet.prix }}€</strong> l’unité.</p>
    <p class="billet-stock">{{ billet.stock }} places encore disponible, prenez les vôtres !</p>

    <h3><a href="{{ url('liste_epreuves') }}" class="billet-action">Consultez les épreuves et prenez vos places !</a></h3>
</div>
{% endblock %}