{% extends 'base.html' %}

{% block content %}
<h1>Paiement Réussi</h1>
<p>Merci pour votre achat. Voici les détails de votre transaction :</p>
<ul>
    <li>Identifiant de la transaction : {{ ticket.transaction.id }}</li>
    <li>Date de la transaction : {{ ticket.date_creation }}</li>
    <li>Montant total : {{ ticket.montant_total }} €</li>
    <li>Statut : {{ ticket.transaction.status }}</li>
</ul>

{% if ticket.qr_code %}
<h2>Votre Code QR :</h2>
<img src="{{ ticket.qr_code.url }}" alt="QR Code du ticket">
{% else %}
<p>Le code QR n'est pas disponible.</p>
{% endif %}

<a href="{% url 'accueil' %}">Retour à l'accueil</a>
{% endblock %}