{% extends 'base.html' %}

{% block content %}
<h3><a href="{% url 'liste_epreuves' %}">Retour à la liste des épreuves</a></h3>
<div></div>
<h1>{{ epreuve.titre }}</h1>
<p>{{ epreuve.description }}</p>
<p>Date de l'événement : {{ epreuve.date_epreuve }}</p>
{% if epreuve.illustration %}
    <img src="{{ epreuve.illustration.url }}" alt="Illustration pour {{ epreuve.titre }}" style="max-width: 250px; max-height: 250px;">
{% else %}
    <p>Aucune illustration disponible.</p>
{% endif %}

<h2>Billets disponibles :</h2>
{% if offres %}
    {% for offre in offres %}
        <div>
            <p>Offre: {{ offre.nom }} - Prix: {{ offre.prix }}€ - Places restantes: {{ offre.stock }}</p>
            <a href="{% url 'panier_epreuves' epreuve.slug offre.slug %}">Ajouter au panier</a>
        </div>
    {% endfor %}
{% else %}
    <p>Aucun billet disponible pour cette épreuve.</p>
{% endif %}
<div></div>
<h3><a href="{% url 'liste_epreuves' %}">Retour à la liste des épreuves</a></h3>
{% endblock %}