{% extends 'base.html' %}

{% block content %}
<h1>Toutes les offres</h1>
<div class="epreuves-container">
    {% for billet in billets %}
    <div class="card">
        <h1 class="billet-title">L’Offre {{ billet.nom }}</h1>
        <p class="billet-description">{{ billet.description}}</p>
        <p class="billet-price">Ce billet coûte <strong>{{ billet.prix }}€</strong> l’unité.</p>
    </div>
    {% endfor %}
</div>
<h3><a href="{% url 'liste_epreuves' %}" class="back-link">Retour à la liste des épreuves</a></h3>
{% endblock %}