{% extends 'base.jinja2' %}
{% block content %}
    <h1>Paiement Réussi</h1>
    <p>Merci pour votre achat. Voici les détails de votre transaction :</p>
    <ul>
        <li>Identifiant de la transaction : {{ transaction.id }}</li>
        <li>Date de la transaction : {{ transaction.date_transaction }}</li>
        <li>Montant total : {{ transaction.montant_total }} €</li>
        <li>Statut : {{ transaction.status }}</li>
    </ul>
    <a href="{{ url('accueil') }}">Retour à l'accueil</a>
{% endblock %}