{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Votre Panier</h1>
    <div>
        <p>Chers passionnés, chers clients, nous faisons actuellement face à un refus de la part de Google quant à l’utilisation de ses services, nous sommes donc en l’incapacité de vous transmettre votre ticket dématérialisé par courriel. N’oubliez SURTOUT PAS d’effectuer une capture d’écran de votre achat !</p>
    </div>
        {% if achats %}
            <ul>
                {% for achat in achats %}
                    <li>
                        {{ achat.billet.nom }} - {{ achat.quantité }} x {{ achat.billet.prix }}€ = {{ achat.montant_total|floatformat:2 }}€
                        <a href="{% url 'supprimer_achat' id=achat.id %}">Supprimer</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: {{ total }}€</p>
            <a href="{% url 'paiement' %}" class="button.card card">Procéder au paiement</a>
        {% else %}
            <p>Votre panier est <i>vide</i>.</p>
        {% endif %}
    
        <div class="card">
            <span><a href="{% url 'accueil' %}">Retour à la page d'accueil</a></span>
        </div>
{% endblock %}