/* Couleurs principales */
:root {
    --titre-h1: #fff;
    --titre-h1-font-size: 2.5em;
    --titre-h1-font-weight: bold;
    --titre-h1-margin-bottom: 20px;
    --titre-h2: #00F ;
    --titre-h2-font-size: 2em;
    --titre-h2-font-weight: bold;
    --titre-h2-margin-bottom: 15px;
    --titre-h3: #F0F;
    --titre-h3-font-size: 1.8em;
    --titre-h3-font-weight: bold;
    --titre-h3-margin-bottom: 15px
    --titre-h4: #0F0;
    --titre-h4-font-size: 1.5em;
    --titre-h4-font-weight: bold;
    --titre-h4-margin-bottom: 10px;
    --simple_txt : #fff;

    --liens: #fff;

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;

}

/* BASE.HTML */
    /* HEADER */
.header {
    padding: 10px;
    font-family: Tahoma, sans-serif;
    font-size: 32px;
    text-align: center;
    background-color: #000;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px;
}

.header-slider {
    position: relative;
    height: 800px; /* Ajuster la hauteur selon vos besoins */
    z-index: -0.5;
}

.header-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    background-size: cover;
    background-position: center;
}

@keyframes headerSlider {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.header-slide:first-child {
    animation: headerSlider 20s infinite;
}
  
.header-slide:last-child {
    animation: headerSlider 20s infinite 5s;
}

.site-titre {
    color: var(--titre-h1);
    text-align: center;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
}

.header-image {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin: 0 3px;
}

.main-nav h4 a {
    color: var(--titre-h1);
    white-space: nowrap;
}

.main-nav h4 a:hover {
    text-decoration: underline;
}

.card {
    border: 1px solid var(--liens) !important;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    width: 300px;
    text-align: center;
}

.card:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-5px);
}

    /* Animation slideIn */
.slideIn {
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* panier-link n’est pas utilisé pour le moment */
.panier-link {
    color:#666;
}
    /* FIN HEADER */
    /* MAIN */
.content {
    margin-top: 20px;
    min-height: calc(100% - 100px);
    padding: 20px;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}
    /* FIN MAIN */

    /* FOOTER */
.footer {
    height: 96px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    position: sticky;
    bottom: 0;}
    /* FIN FOOTER */
/* MENTIONS LÉGALES */
.fadeIn {
    animation: fadeIn 1s ease-in-out;
    text-align: justify;
    padding: 50px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.titre2 {
    color: var(--titre-h2);
    font-size: var(--titre-h2-font-size);
    font-weight: var(--titre-h2-font-weight);
    margin-bottom: var(--titre-h2-margin-bottom);
}

.txt {
    color: var(--simple_txt);
}
/* FIN MENTIONS LÉGALES */
/* ACCUEIL */
.accueil-titre {
    color: var(--titre-h1);
}

.button-click {
    color: var(--liens);
    transition: transform 0.05s;}

.button-click:hover {
    color:#000;
}

.epreuves-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 128px; /* Espacement entre les cartes */}

.epreuve-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;}

.epreuve-description {
    font-size: 1.2em;
    text-align: justify;
    color: var(--simple_txt);
    margin-bottom: 15px;}

.take-places {
    color: #fff;}

.take-places:hover {
    color: #000;}
    /* FIN ACCUEIL */
/* BILLETS */
.billet-titre {
    color: var(--titre-h1);
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.billet-container {
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.billet-description {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 20px;
}

.billet-price {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.billet-stock {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--mtitle-color);
}

.billet-action {
    display: inline-block;
    background-color: var(--titre-h1);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.billet-action:hover {
    background-color: var(--liens);
}
/* FIN BILLETS */
/* CONFIRMATIOM_PAIEMENT */
.titre1 {
    color: var(--titre-h1);}
/* FIN CONFIRMATIOM_PAIEMENT */
/* EMAIL_CONFIRMATION */
        /* VIDE, car pour l’instant je n’ai pas d’alternative à Google */
/* FIN EMAIL_CONFIRMATION */
/* EPREUVES */
.titre3 {
    color: var(--titre-h3);}

.back-link {
    color: var(--liens);
    text-decoration: none;
    margin-bottom: 35px;
    display: inline-block;}

.back-link:hover {
    border: 1px solid #fff);
    color: #000;
    text-decoration: underline;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    text-align: center;}

.epreuve-header {
    text-align: center;
    margin-bottom: 30px;}

.epreuve-titre {
    color: var(--titre-h1);
    font-size: var(--titre-h1-font-size);
    font-weight: var(--titre-h1-font-weight);
    margin-bottom: var(--titre-h1-margin-bottom);
    text-align: center;
}

.epreuve-date {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: bold;}

.no-illustration {
    font-size: 1em;
    color: #666;}

.offers-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;}

.offer-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;}

.offer-card:hover {
    transform: translateY(-5px);}

.add-to-cart {
    display: inline-block;
    background-color: var(--mtitle-color);
    color: var(--simple_txt);
    text-decoration-color: var (--simple_txt);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;}

.add-to-cart:hover {
    background-color: var(--liens);}
/* FIN EPREUVES */
/* LISTE_EPREUVES */
.epreuve-link:hover {
    text-decoration: underline;}
.more-info-btn {
    display: inline-block;
    color: #000;
    text-decoration: underline;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;}

.more-info-btn:hover {
    color: #fff;
    background-color: var(--liens);
    text-decoration: none;
}
/* FIN LISTE_EPREUVES */
/* LISTE_OFFRES */
.billets-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 128px; /* Espacement entre les cartes */}
/* FIN LISTE_OFFRES */
/* PAIEMENT */
.paiement-titre {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--titre-h1);
    text-align: center;}
/* FIN PAIEMENT */
/* PANIER */
        /* Infobulles */
.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.messages li.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
/* FIN PANIER */
/* CLIENT_PAGE */

/* FIN CLIENT_PAGE */
/* LOGIN */

/* FIN LOGIN */
/* SIGNUP */

/* FIN SIGNUP */


.mtitre {
    color: var(--titre-h1);
    margin-bottom: 20px;
}

.txt{
    color: var(--simple_txt);
    text-align: justify;
    line-height: 1.6; /* Espacement entre les lignes de texte */
    margin-bottom: 20px; /* Ajoute un espacement en bas du paragraphe */
}

/* Style pour les boutons */
.button-link h2 {
    color: var(--liens);
    text-decoration: none;
    transition: color 0.3s;
}

.button-link h2:hover {
    color: var(--titre-h1);
}



/* Styles pour les champs du formulaire */
.form-control {
    text-align: justify;
    color: var(--titre-h1);
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.txt_form{
    color: var(--simple_txt);
    text-align: left;
    line-height: 1.6; /* Espacement entre les lignes de texte */
    margin-bottom: 20px; /* Ajoute un espacement en bas du paragraphe */
}

/* Style pour le bouton de connexion */
button.card {
    border: none;
    color: var(--titre-h1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Style pour les alertes/messages */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
}

/* Classe pour les alertes de succès */
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

/* Classe pour les alertes d'erreur */
.alert-error {
    background-color: #f2dede;
    color: #a94442;
}

.hidden {
    display: none;
}
.form-section {
    margin-bottom: 20px;
}