{% extends 'base.jinja2' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <h1 class="site-title">Connexion</h1>
</div>
<div class="container">
    <form method="POST" action="{{ url('login') }}">
        {% csrf_token %}
        <p class="txt_form">
            <label for="username">Nom d’utilisateur :</label>
            <input id="username" type="username" name="username" class="form-control card" required>
        </p>
        <p class="txt_form">
            <label for="password">Mot de passe :</label>
            <input id="password" type="password" name="password" class="form-control card" required>
        </p>
        <button type="submit" class="button.card card">Se connecter</button>
    </form>
</div>
<div class="container">
    <p class="fadeIn button.card card">Vous n'avez pas encore de compte ? <a href="{{ url ('signup') }}">Inscrivez-vous</a>.</p>
</div>
{% endblock %}