{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <h1 class="site-title">Connexion</h1>
</div>
<div class="container">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p class="txt">
            <label for="email">Courriel :</label>
            <input id="email" type="email" name="email" class="form-control card" required>
        </p>
        <p class="txt">
            <label for="password">Mot de passe :</label>
            <input id="password" type="password" name="password" class="form-control card" required>
        </p>
        <button type="submit" class="txt button.card card">Se connecter</button>
    </form>
</div>
<div class="container">
    <p class="text fadeIn card">Vous n'avez pas encore de compte ? <a href="{% url 'signup' %}">Inscrivez-vous</a>.</p>
</div>
{% endblock %}