{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <h1 class="site-title">Inscription</h1>
</div>
<div class="container">
    <div>
        <p class="fadeIn">Notez que chaque information renseignée doit l’être dans le cadre de la sécurisation de votre achat et à fins d’authentification de votre billet. Votre identité sera <strong>vérifiée</strong> à l’entrée.</p>
    </div>
        <form id="signupForm">
            <p class="txt">
                <label for="nom">Nom :</label>
                <input id="nom" type="text" name="nom" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="prenom">Prénom :</label>
                <input id="prenom" type="text" name="prenom" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="username">Nom d'utilisateur :</label>
                <input id="username" type="text" name="username" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="email">Courriel :</label>
                <input id="email" type="email" name="email" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="password">Mot de passe :</label>
                <input id="password" type="password" name="password" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="password_confirm">Confirmez le mot de passe :</label>
                <input id="password_confirm" type="password" name="password_confirm" class="form-control card" required>
            </p>
            <button type="submit" class="txt button.card card">Inscription</button>
        </form>
    </div>
</div>
<div class="container">
    <p class="text fadeIn card">Vous possédez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous</a>.</p>
</div>
<script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêcher la soumission standard du formulaire
    
        const formData = new FormData(this);
        const url = '/api-token-signup/'; // Assurez-vous d'avoir configuré cette URL dans vos urls.py
    
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                nom: formData.get('nom'),
                prenom: formData.get('prenom'),
                username: formData.get('username'),
                email: formData.get('email'),
                password: formData.get('password'),
                password_confirm: formData.get('password_confirm'),
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.token) {
                localStorage.setItem('jwtToken', data.token);  // Stocker le token JWT dans localStorage
                alert('Inscription réussie');
                window.location.href = '/'; // Rediriger vers la page d'accueil après inscription
            } else {
                alert('Inscription échouée: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    });
    </script>
{% endblock %}