{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <h1 class="site-title">Inscription</h1>
</div>
<div class="container">
    <div>
        <p class="fadeIn">Notez que chaque information renseignée doit l’être dans le cadre de la sécurisation de votre achat et à fins d’authentification de votre billet. Votre identité sera <strong>vérifiée</strong> à l’entrée.</p>
    </div>
    <div>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <p class="txt">
                <label for="nom">Nom :</label>
                <input id="nom" type="text" name="nom" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="prenom">Prénom :</label>
                <input id="prenom" type="text" name="prenom" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="username">Nom d'utilisateur :</label>
                <input id="username" type="text" name="username" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="email">Courriel :</label>
                <input id="email" type="email" name="email" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="password">Mot de passe :</label>
                <input id="password" type="password" name="password" class="form-control card" required>
            </p>
            <p class="txt">
                <label for="password_confirm">Confirmez le mot de passe :</label>
                <input id="password_confirm" type="password" name="password_confirm" class="form-control card" required>
            </p>
            <button type="submit" class="txt button.card card">Inscription</button>
        </form>
    </div>
</div>
<div class="container">
    <p class="text fadeIn card">Vous possédez déjà un compte ? <a href="{% url 'login' %}">Connectez-vous</a>.</p>
</div>
{% endblock %}