{% extends 'base.jinja2' %}

{% block content %}
<div class="fadeIn">
    <h1 class="site-title">Mentions Légales</h1>
    <div class="container">
        <nav>
            <h2 class="simple_titre">1. Informations Générales</h2>
                <p class="txt">Nom du site : Jeux Olympiques - France 2024</p>
                <p class="txt">URL : https://github.com/Rateland/STUDI-JO2024</p>
                <p class="txt">Propriétaire : Gautier B.</p>
                <p class="txt">Responsable de la publication : Gautier B.</p>
                <p class="txt">Contact : etudiantstudi@gmail.com</p>
            <h2 class="simple_titre">2. Hébergement</h2>
                <p class="txt">Hébergeur : Heroku, Inc.</p>
                <p class="txt">Adresse : 650 7th St, San Francisco, CA 94103, États-Unis</p>
                <p class="txt">Contact : support@heroku.com</p>
            <h2 class="simple_titre">3. Collecte de données personnelles</h2>
                <p class="txt">Les informations collectées sur ce site sont utilisées uniquement pour la gestion des utilisateurs et des paiements. Vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce droit, contactez etudiantstudi@gmail.com. Ce site ne vise en aucun cas à enregistrer des données personnelles, mais à démontrer les notions apprises.</p>
            <h2 class="simple_titre">4. Propriété Intellectuelle</h2>
                <p class="txt">Tous les contenus présents sur ce site (textes, images, vidéos, etc.) sont protégés par les droits de propriété intellectuelle et sont la propriété exclusive de Gautier. Toute reproduction, distribution, modification ou usage de ces contenus sans autorisation préalable est interdite. Ce site est destiné à des fins éducatives et de démonstration des notions apprises.</p>
            <h2 class="simple_titre">5. Responsabilité</h2>
                <p class="txt">Gautier ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation de ce site. Ce site est destiné à des fins éducatives et de démonstration des notions apprises.</p>
            <h2 class="simple_titre">6. Cookies</h2>
                <p class="txt">Ce site n’a pas vocation à utiliser des cookies pour améliorer votre expérience utilisateur. Vous devez configurer votre navigateur pour refuser au maximum les cookies.</p>
            <h2 class="simple_titre">7. Litiges</h2>
                <p class="txt">En cas de litige, les tribunaux français seront seuls compétents.</p>
        </nav>
    </div>
</div>
{% endblock %}